extends layout
include ./mixin/time

block content
  .container
    .header
      p.title Mini Messageboard
      div.new-message-container 
        a.add-new-message-link(href="/new") Add Message
    ul.messages 
      each message in messages
        li.message 
          p.name= message.user
          p.text= message.text 
          +time(message.added)

